.container #twitter-2, .container #twitter-1 {
  position: absolute;
  width: 4rem;
  z-index: -1;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(45deg) brightness(101%) contrast(103%) opacity(50%);
  transform: rotate(-20deg);
}

.btn {
  border-radius: 50px;
  background-color: #ffffff;
  padding: 10px 0px;
  width: 90%;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "M PLUS Rounded 1c";
  color: #ffffff;
  text-shadow: 0px 2px 2px #197db7;
}

h1 {
  font-size: 5.5rem;
  font-weight: 900;
}

h2 {
  font-size: 2.5rem;
  font-weight: 800;
}

h3 {
  font-size: 2.8rem;
}

p {
  font-family: "M PLUS Rounded 1c";
  font-size: 2.2rem;
  line-height: 2.5rem;
  color: #ffffff;
}

.container {
  background-image: linear-gradient(#1da1f2, #38d2f7);
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
  padding: 1rem;
}
.container #twitter-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(45deg) brightness(101%) contrast(103%);
  width: 6rem;
  margin-bottom: 2rem;
}
.container #twitter-1 {
  top: 40px;
  left: 20px;
}
.container #twitter-2 {
  top: 40px;
  left: 300px;
}

#landing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#landing header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
  margin: 100px 0px;
}
#landing header img {
  width: 4rem;
}
#landing header p {
  margin-top: 2rem;
  text-align: center;
  line-height: 3rem;
  text-shadow: 0px 2px 2px #197db7;
}
#landing .cta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
#landing .cta .or {
  margin: 4rem 0px;
  text-shadow: 0px 2px 2px #197db7;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 4px solid #103fff;
  box-shadow: 2px 2px 2px #197db7;
  padding: 1.5rem 0px;
}
.btn h2 {
  color: #14171a;
  text-align: center;
  text-shadow: none;
}
.btn p {
  margin-top: 1rem;
  color: #667785;
}

.appStore {
  width: 20rem;
}

#game-example {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tweet-carousel {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  height: 400px;
  width: 100%;
  padding-right: 20px;
}

.tweet-card {
  background-color: white;
  min-width: 350px;
  box-shadow: 2px 2px 2px #197db7;
  border-radius: 5rem;
  padding-left: 2.5rem;
  padding-top: 2rem;
  padding-right: 2rem;
  margin: 4rem 0 4rem 2rem;
}
.tweet-card .tweet-text,
.tweet-card .tweet-date {
  color: #2e2f30;
}
.tweet-card .tweet-date {
  font-size: 1.5rem;
}
.tweet-card .tweet-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.tweet-card .comments,
.tweet-card .retweets,
.tweet-card .likes {
  color: #1da1f2;
}

/*# sourceMappingURL=index.css.map */
