.tweeter-choice, .btn {
  border-radius: 50px;
  background-color: #ffffff;
  padding: 10px 0px;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "M PLUS Rounded 1c";
  color: #ffffff;
  text-shadow: 0px 2px 2px #197db7;
}

h1 {
  font-size: 5.5rem;
  font-weight: 900;
}

h2 {
  font-size: 2.5rem;
  font-weight: 800;
}

h3 {
  font-size: 2.2rem;
  font-weight: 800;
  color: #14171a;
  text-shadow: none;
}

h4 {
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
  text-shadow: none;
}

p {
  font-family: "M PLUS Rounded 1c";
  font-size: 2rem;
  line-height: 2.5rem;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.5s linear;
  width: 100%;
}

.container {
  background-image: linear-gradient(#1da1f2, #38d2f7);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 70%;
  margin: 0 auto;
}
.container #twitter-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(45deg) brightness(101%) contrast(103%);
  width: 6rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1120px) {
  .container {
    width: 80%;
  }
}
@media screen and (max-width: 970px) {
  .container {
    width: 100%;
  }
}

#landing {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 375px) {
  #landing h1 {
    font-size: 4rem;
  }
}
#landing .landing-cta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}
#landing .game-image {
  padding-top: 6rem;
  max-width: 350px;
  flex: 1;
}
@media screen and (max-width: 970px) {
  #landing {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  #landing .game-image {
    display: none;
  }
}
#landing header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
  margin: 6rem 0px;
}
@media screen and (max-width: 600px) {
  #landing header {
    width: 95%;
  }
}
#landing header img {
  width: 4rem;
}
#landing header p {
  margin-top: 2rem;
  text-align: center;
  line-height: 3rem;
  text-shadow: 0px 2px 2px #197db7;
  font-size: 2.5rem;
}
#landing .cta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
}
@media screen and (max-width: 600px) {
  #landing .cta {
    width: 90%;
  }
}
#landing .cta .or {
  margin: 4rem 0px;
  text-shadow: 0px 2px 2px #197db7;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 4px solid #103fff;
  box-shadow: 2px 2px 2px #197db7;
  width: 90%;
  padding: 1.5rem 0px;
  transition: all 0.2s ease-in;
  width: 80%;
}
.btn h2 {
  color: #14171a;
  text-align: center;
  text-shadow: none;
}
.btn p {
  margin-top: 0.5rem;
  color: #667785;
}
.btn img {
  max-width: 75px;
  border-radius: 50%;
}

.btn-hover:hover {
  transform: scale(1.05);
  border: 4px solid #00b450;
}

.appStore {
  width: 20rem;
}

#game-example {
  margin-top: 10rem;
  display: none;
}
@media screen and (max-width: 970px) {
  #game-example {
    display: block;
  }
}
#game-example .title {
  text-align: center;
}

.tweet-carousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
.tweet-carousel::-webkit-scrollbar {
  display: none;
}

.tweet-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  border: 4px solid #667785;
  height: 300px;
  min-width: 350px;
  box-shadow: 2px 2px 2px #197db7;
  border-radius: 5rem;
  padding-left: 2.5rem;
  padding-top: 2rem;
  padding-right: 2rem;
  margin: 4rem 1rem 2rem 2rem;
}
@media screen and (max-width: 600px) {
  .tweet-card {
    height: 350px;
    max-width: 300px;
  }
}
.tweet-card .tweet-deets {
  padding-bottom: 1rem;
}
.tweet-card .tweet-text,
.tweet-card .tweet-date {
  color: #2e2f30;
}
.tweet-card .tweet-date {
  font-size: 1.5rem;
}
.tweet-card .tweet-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tweet-card .icon {
  max-width: 1.7rem;
  filter: invert(47%) sepia(3%) saturate(2701%) hue-rotate(165deg) brightness(94%) contrast(12%);
  margin-right: 5px;
}
.tweet-card .comments,
.tweet-card .retweets,
.tweet-card .likes {
  color: #1da1f2;
  font-weight: 500;
}
.tweet-card .comments,
.tweet-card .retweets {
  margin-right: 1rem;
}

.choice-carousel {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
.choice-carousel::-webkit-scrollbar {
  display: none;
}

.tweeter-choice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 350px;
  max-width: 350px;
  margin: 1rem 2rem;
  border: 4px solid #667785;
}
@media screen and (max-width: 600px) {
  .tweeter-choice {
    min-width: 300px;
    max-width: 300px;
  }
}
.tweeter-choice .picHandle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.tweeter-choice .profilPic {
  max-width: 5.5rem;
  border-radius: 50%;
  margin-left: 1rem;
  margin-right: 1rem;
}
.tweeter-choice .tweeterTag {
  text-align: left;
}
.tweeter-choice .icon {
  max-width: 3.5rem;
  margin-right: 1rem;
}
.tweeter-choice h3 {
  color: #14171a;
  text-shadow: none;
}
.tweeter-choice p {
  color: #667785;
}

#game-example-desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 970px) {
  #game-example-desktop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.w50 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 970px) {
  .w50 {
    display: none;
  }
}

#categories {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  margin: 10rem auto;
}
@media screen and (max-width: 970px) {
  #categories {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  #categories {
    width: 100%;
  }
}
#categories .title {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2rem;
}
#categories .first,
#categories .second,
#categories .third,
#categories .fourth {
  width: 80%;
  margin: 1rem 1rem;
}
#categories .first p,
#categories .second p,
#categories .third p,
#categories .fourth p {
  margin: 0px;
}
#categories .first {
  margin-top: 2rem;
  border: 4px solid #00b912;
}
#categories .second {
  border: 4px solid #103fff;
  align-self: flex-end;
}
#categories .third {
  border: 4px solid #ff0000;
}
#categories .fourth {
  border: 4px solid #af3fe4;
  align-self: flex-end;
}

#final-cta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  margin: 10rem auto;
}
@media screen and (max-width: 970px) {
  #final-cta {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  #final-cta {
    width: 100%;
  }
}
#final-cta h1 {
  text-align: center;
  margin-bottom: 6rem;
}
#final-cta .btn {
  border: 4px solid #ff9900;
  margin-bottom: 6rem;
}

footer {
  margin: 10rem 0px;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
footer h2 {
  margin: 1rem 0px;
}
footer p {
  margin-top: 4rem;
}
footer p a {
  text-decoration: underline;
}

.team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.flexCol {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.heroTitle {
  margin-top: 10rem;
}

#mission {
  width: 60%;
  margin: 4rem auto 6rem auto;
}
#mission p {
  text-align: center;
}
#mission h2 {
  margin-top: 6rem;
}

.flip-card {
  width: 250px;
  height: 250px;
  perspective: 1000px;
  margin: 1rem;
  transition: all 0.8s linear;
}
.flip-card img {
  border: 4px solid #ffffff;
}
.flip-card:nth-of-type(2n + 1) .flip-card-back {
  background-color: #af3fe4;
}
.flip-card:nth-of-type(2n) .flip-card-back {
  background-color: #00b912;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-card-around {
  transform: rotateY(180deg);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  border-radius: 30px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0px 2px 2px 2px rgba(0,0,0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flip-card-front h4,
.flip-card-back h4 {
  margin: 1rem;
}
.flip-card-front img,
.flip-card-back img {
  width: 250px;
  height: 250px;
}
.flip-card-front img.github-icon,
.flip-card-back img.github-icon {
  width: 40px;
  height: 40px;
  border: none;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(45deg) brightness(101%) contrast(103%);
}

.flip-card-back {
  padding: 2rem;
  transform: rotateY(180deg);
}

.team-img {
  border-radius: 30px;
  box-shadow: 0px 2px 2px 2px rgba(0,0,0, 0.25);
}

/*# sourceMappingURL=index.css.map */
