#team {
    @include flex(row, center, center);
    flex-wrap: wrap;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: none;
    perspective: 1000px;
    margin: $verySmall;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.flip-card-around {
    transform: rotateY(180deg);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    border-radius: 30px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-card-front {
    background-color: #bbb;
    color: black;
}
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

.team-img {
    border-radius: 30px;
}
