#categories {
    @include flex(column, flex-start, flex-start);
    width: 50%;
    margin: $veryLarge auto;

    @media screen and #{$tablet} {
        @include flex(column, flex-start, flex-start);
        width: 70%;
    }

    @media screen and #{$phone} {
        width: 100%;
    }

    .title {
        width: 60%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: $small;
    }

    .first,
    .second,
    .third,
    .fourth {
        width: 80%;
        margin: $verySmall $small/2;

        p {
            margin: 0px;
        }
    }

    .first {
        margin-top: $small;
        border: 4px solid $highlightGreen;
    }

    .second {
        border: 4px solid $highlightBlue;
        align-self: flex-end;
    }

    .third {
        border: 4px solid $highlightRd;
    }

    .fourth {
        border: 4px solid $highlightPurple;
        align-self: flex-end;
    }
}
