* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html,
body {
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $fontFamily;
    color: $white;
    text-shadow: unquote($textShadow);
}

h1 {
    font-size: 5.5rem;
    font-weight: 900;
}

h2 {
    font-size: 2.5rem;
    font-weight: 800;
}

h3 {
    font-size: 2.2rem;
    font-weight: 800;
    color: $boldBlack;
    text-shadow: none;
}

h4 {
    font-size: 2rem;
    font-weight: 500;
    color: $white;
    text-shadow: none;
}

p {
    font-family: $fontFamily;
    font-size: 2rem;
    line-height: $small + 0.5rem;
    color: $white;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.5s linear;
    width: 100%;
}

.container {
    background-image: linear-gradient($darkishBlue, $offTwitterBlue);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 70%;
    margin: 0 auto;

    #twitter-icon {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(45deg)
            brightness(101%) contrast(103%);
        width: 6rem;
        margin-bottom: $small;
    }

    @media screen and #{$desktop} {
        width: 80%;
    }

    @media screen and #{$tablet} {
        width: 100%;
    }
}
