* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html,
body {
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $fontFamily;
    color: $white;
    text-shadow: unquote($textShadow);
}

h1 {
    font-size: 5.5rem;
    font-weight: 900;
}

h2 {
    font-size: 2.5rem;
    font-weight: 800;
}

h3 {
    font-size: 2.8rem;
}

p {
    font-family: $fontFamily;
    font-size: 2.2rem;
    line-height: $small + 0.5rem;
    color: $white;
}
