.container {
    background-image: linear-gradient($darkishBlue, $offTwitterBlue);
    background-attachment: fixed;
    width: 70%;
    margin: 0 auto;

    #twitter-icon {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(45deg)
            brightness(101%) contrast(103%);
        width: 6rem;
        margin-bottom: $small;
    }

    @media screen and #{$desktop} {
        width: 80%;
    }

    @media screen and #{$tablet} {
        width: 100%;
    }
}

#landing {
    @include flex(row, space-around, center);

    @media screen and #{$veryPhone} {
        h1 {
            font-size: 4rem;
        }
    }

    .landing-cta {
        @include flex(column, flex-start, center);
        flex: 1;
    }

    .game-image {
        padding-top: $large;
        max-width: 350px;
        flex: 1;
    }

    @media screen and #{$tablet} {
        @include flex(column, flex-start, center);
        .game-image {
            display: none;
        }
    }

    header {
        @include flex(column, flex-start, center);
        width: 75%;
        margin: $large 0px;

        @media screen and #{$phone} {
            width: 95%;
        }

        img {
            width: $medium;
        }

        p {
            margin-top: $small;
            text-align: center;
            line-height: $small + 1rem;
            text-shadow: unquote($textShadow);
            font-size: $small + 0.5rem;
        }
    }

    .cta {
        @include flex(column, flex-start, center);
        width: 80%;

        @media screen and #{$phone} {
            width: 90%;
        }

        .or {
            margin: $medium 0px;
            text-shadow: unquote($textShadow);
        }
    }
}

.btn {
    @include buttonPill();
    padding: $verySmall + 0.5rem 0px;
    transition: all 0.2s ease-in;

    h2 {
        color: $boldBlack;
        text-align: center;
        text-shadow: none;
    }

    p {
        margin-top: $verySmall/2;
        color: $handleTags;
    }

    img {
        max-width: 75px;
        border-radius: 50%;
    }
}

.btn-hover:hover {
    transform: scale(1.05);
    border: 4px solid $checkMarkGreen;
}

.appStore {
    width: 20rem;
}

.flex-column {
    //@include flex(column, flex-start, center);
}
