@mixin iconPosition($left, $top) {
    top: $top;
    left: $left;
}

@mixin flex($direction: row, $justify: flex-start, $align: flex-start) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin buttonPill($borderColor: $highlightBlue, $width: 90%) {
    @extend %button-pill;
    @include flex(column, flex-start, center);
    border: 4px solid $borderColor;
    box-shadow: unquote($btnShadow);
    width: 90%;
}
