$darkishBlue: #1da1f2;
$offTwitterBlue: #38d2f7;
$boldBlack: #14171a;
$handleTags: #667785;
$highlightBlue: #103fff;
$highlightGreen: #00b912;
$highlightOrange: #ff9900;
$highlightRd: #ff0000;
$highlightPurple: #af3fe4;
$checkMarkGreen: #00b450;
$wrongRed: #fe4a49;
$white: #ffffff;

$fontFamily: 'M PLUS Rounded 1c';

//$dropShadow: 25% Black 2X 2Y
