$darkishBlue: #1da1f2;
$offTwitterBlue: #38d2f7;
$boldBlack: #14171a;
$handleTags: #667785;
$tweetText: #2e2f30;
$highlightBlue: #103fff;
$highlightGreen: #00b912;
$highlightOrange: #ff9900;
$highlightRd: #ff0000;
$highlightPurple: #af3fe4;
$checkMarkGreen: #00b450;
$wrongRed: #fe4a49;
$white: #ffffff;

$verySmall: 1rem;
$small: 2rem; //20px
$medium: 4rem; //40px
$large: 6rem; //60px
$veryLarge: 10rem; //80px

$btnShadow: '2px 2px 2px #197db7';
$textShadow: '0px 2px 2px #197db7';
$teamShadow: '0px 2px 2px rgba(0,0,0, 0.25)';

$fontFamily: 'M PLUS Rounded 1c';

$veryPhone: '(max-width: 375px)';
$phone: '(max-width: 600px)';
$tablet: '(max-width: 970px)';
$desktop: '(max-width: 1120px)';
